@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

body {
    scroll-snap-type: y mandatory;
    background-color: #B2A59B;
}



.YOU {
    overflow: hidden;
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30vh;



}

a{

    text-decoration: underline;
    color: white
}

.You-opening{

    display: flex;
    flex-direction: column;
    width: 90vw;

}

.arrow{

    font-size: 6svh;
    position: absolute;;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex;
    color: pink;
    top: 90%
}


.You-opening img {

    overflow: hidden;
    position: absolute;
    height: 120vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
    animation: fadein;
    animation-duration: 5s;
    opacity: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




.YOU>p {

    font-size: 20rem;
    color: pink;
    font-family: 'Lexend Zetta', sans-serif;
    animation:
        typing 2s ease-in,
        blink-caret .75s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;


}



@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}


section.main-section {

    width: 100vw;
    display: flex;
    align-items: center;
    background-image: url("elements/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -5%;
    margin-inline: 0;
}



.main-content{

    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 15vh;

}

.flowers{

    position: absolute;
    overflow: hidden;
    top: 150%;
    right: 0;
    transition-duration: 0.5s;
    

}


.flowers>img {


    height: 12vw;
    transform: rotate(2deg);
    z-index: 1;

}


.flowers:hover{

    transform: translateY(-10%) rotate(-19deg) scale(1.7) translateX(-25%);

}

.content{

    display: flex;
    justify-content: center;
   
}

.content p {

    width: 60vw;
    color: white;
    font-size: 2.5vh;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    margin-block: 3vh;
   


}

.video{

    position: absolute;
    top: 175%;
    margin-inline: 1vw;

}
.video>video {

    
    width: 17vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 3vw;
    
}


@media only screen and (max-width: 900px) {

    .YOU {
        overflow: hidden;
        width: 100vw;
        height: 115vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    .You-opening{
    
        display: flex;
        flex-direction: column;
        width: 90vw
    
    }
    
    .arrow{
    
        font-size: 6svh;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        color: pink;
        top: 60%;
        animation: fadein 5s ease-in
    }
    
    
    .You-opening img {
    
        overflow: hidden;
        position: absolute;
        height: 120vh;
        width: 100vw;
        object-fit: cover;
        z-index: -1;
        animation: fadein;
        animation-duration: 5s;
        opacity: 1;
    }
    
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    
    
    
    .YOU>p {
    
        font-size: 27dvw;
        color: pink;
        font-family: 'Lexend Zetta', sans-serif;
        animation:
            fadein 1s ease-in,
            typing 2s ease-in;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border-radius: 50%; */
        padding: 1vw;
        margin-top: 25vh;
    }

section.main-section {

    width: 100vw;
    display: flex;
    align-items: center;
    background-image: url("elements/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -15vh;
    margin-inline: 0;
}



.main-content{

    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 15vh;

}

.flowers{

    position: relative;
    display: flex;
    justify-content: center;
    
}


.flowers>img {


    height: 30dvh;
    transform: rotate(2deg);
    z-index: 1;
    

}


.flowers:hover{

    transform: translateY(-10%) rotate(-19deg) scale(1.7) translateX(-25%);

}



.content p {

    width: 95vw;
    padding: 10vw;
    color: white;
    font-size: 2svh;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    
   


}

.video{

position: relative;
display: flex;
justify-content: center;

}
.video>video {

    
    width: 50vw;
    height: 45vh;
    object-fit: cover;
    border-radius: 3vw;
    
}


}
