@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* html{

    height: 100vh;
    overflow: hidden;
} */



.slideshow-container div {

    height: 100vh;
    width: 100vw;
    background-color: #B2A59B;
    color: #FAEED1;
    font-size: 72px;
    font-family: 'Lexend Zetta', sans-serif;

}



h1 {

    font-size: 7vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.mySlides12 h1,
.mySlides14 h1,
.mySlides15 h1,
.mySlides17 h1,
.mySlides18 h1,
.mySlides19 h1,
.mySlides20 h1,
.mySlides22 h1 {

    font-size: 5vw;
}

.mySlides13 h1{

    font-size: 4vw;
}

.mySlides16 h1 {

    font-size: 4vw;
}

.mySlides21 h1{

    font-size: 8vw;
    text-wrap: nowrap; 
    justify-content: flex-start; 
    padding-left: 4rem; 
}

a {

    text-decoration: none;
}


@media only screen and (max-width: 980px) {

    html{

        /* height: 100vh;
        overflow: hidden; */
    }
    
    
    
    .slideshow-container div {
    
        height: 100vh;
        width: 100vw;
        background-color: #B2A59B;
        color: #FAEED1;
        font-size: 72px;
        font-family: 'Lexend Zetta', sans-serif;
    
    }
    
    
    
    h1 {
    
        font-size: 13.5vw;
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .mySlides1 h1,
    .mySlides2 h1,
    .mySlides3 h1,
    .mySlides4 h1,
    .mySlides5 h1,
    .mySlides6 h1,
    .mySlides7 h1,
    .mySlides8 h1,
    .mySlides9 h1,
    .mySlides10 h1,
    .mySlides11 h1,
    .mySlides12 h1{
        font-size: 9vw;
    }

    .mySlides8 h1,
    .mySlides12 h1,
    .mySlides14 h1,
    .mySlides15 h1,
    .mySlides17 h1,
    .mySlides18 h1,
    .mySlides19 h1,
    .mySlides20 h1,
    .mySlides22 h1{
        font-size: 9vw;
    }

    .mySlides22 h1{
        font-size: 7vw;
    }

    .mySlides4 h1{

        font-size: 10vw;
        
    }

    .mySlides10 h1,
    .mySlides13 h1,
    .mySlides11 h1{
        font-size: 12vw;
    }


    
    .mySlides16 h1, .mySlides13 h1 {
    
        font-size: 8vw;
    }
    
    .mySlides21 h1{
    
        font-size: 8vw;
        text-wrap: nowrap;
        justify-content: flex-start; 
        padding-left: 4rem; 
    }
    
    a {
    
        text-decoration: none;
    }
    
}