@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');



body {

    background-color: #f3cda7;
    margin: 0;
    padding: 0;

}

html{

    scroll-snap-type: y mandatory;
}
    .intro-sec>section {

        height: 100vh; 
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content:space-between ;
    }
    
    .intro-sec>section h1 {
    
        font-size: 128px;
        color: #F08989;
        font-family: 'Lexend Zetta', sans-serif;
    
    }
    
    .intro-sec>section img {
    
        width: 40px;
        height: 40px;
        padding-bottom: 30px;
             
    }
    
  
    
    .intro-sec {
    
        display: flex;
        flex-direction: column;
       
    }
    
    .sec4 > a{

        height: 5vh;
        width: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aqua;
        text-decoration: none;
        font-family: 'Lexend Zetta', sans-serif;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        margin-bottom: 20vh;
        
    }
    

